<nav id="sidebar" class="sidebar">
  <div class="navbar">
      <ul class="list logo">
          <li id="logo">
              <a id="logo">
                  <img class="icones" src="assets/img/chart.png">Blocky Coding</a>
          </li>
      </ul>
  </div>
  <ul class="list">
      <li>
          <a href="modules">
              <img class="icones" src="assets/img/classroom.png">
              <span class="nav-text">Desempenho indiv.</span>
          </a>
      </li>
      <li>
          <a href="geral">
              <img class="icones" src="assets/img/performance.png">
              <span class="nav-text">Desempenho Geral</span>
          </a>
      </li>
  </ul>

  <ul class="logout list">
      <li>
          <a href="#">
              <img class="icones" src="assets/img/logout.png">
              <span class="nav-text">Sair</span>
          </a>
      </li>
  </ul>
</nav>