<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="sm-jumbotron center-align">
        <h2>Cadastro de Usuário</h2>
      </div>
      <form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
        <div class="row">
          <div class="input-field col s6">
            <input class="validate" type="text" name="login" #login="ngModel" [(ngModel)]="user.login" required>
            <label data-error="Campo requirido!">Login</label>
          </div>
          <div class="input-field col s6">
            <input class="validate" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required  minlength="3">
            <label [attr.data-error]="password.errors!=null?(password.errors.required?'Required field!':'Minimum 3 characters needed'):''">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <select class="form-control" name="id_type" id="id_type" #id_type="ngModel" [(ngModel)]="user.id_type" material-select>
              <option [ngValue]="" disabled selected>Escolha sua opção</option>
              <option [ngValue]=1>Administrador</option>
              <option [ngValue]=2>Professor</option>
              <option [ngValue]=3>Estudante</option>
            </select>
            <label>Selecione o tipo de Usuário</label>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
              <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Submit</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>