@import url('https://fonts.googleapis.com/css?family=Raleway');
*{
    font-family: 'Raleway', sans-serif;
}
/* You can add global styles to this file, and also import other style files */
button.btn-submit{
    background-color: #38547b;
    color: #fff;
    width: 100%;
}
button.btn-submit:focus,button.btn-submit:hover{
    background-color: #38547b;
}

input.ng-invalid.ng-dirty{
    border-bottom-color : #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}
/*for error div i*/
div.error-message i{
    vertical-align: middle !important;
}

/*for tab control*/
.tabs{
    height: 65px;
}
.tabs .tab{
    text-transform : none !important;
    line-height: 65px;
    height: 65px;
}
.tabs .tab a{
    font-size: 25px;
    color: grey !important;
}

.tabs .tab a.active{
    background-color: #fff !important;
}

/* NAV BAR */
.navbar{
    width: 100%;
    height: 10%;
    background: linear-gradient(to left, rgb(16, 182, 182),rgb(14, 139, 223));
    position: fixed;
    top: 0;
    z-index: 999;
}

/*-------MENU LATERAL--------*/

#sidebar {
    width: 210px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    overflow: hidden;
    background: linear-gradient(rgb(14, 139, 223),rgb(16, 182, 182));
    transition: all .05s;   
    padding-left: 0; 
}

/* #sidebar:hover,
nav.sidebar1.expanded {
    width: 250px;
} */

#sidebar li > a {
    width: 200px;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 17px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 30px;
}

#sidebar li > a:hover {
    color: rgb(36, 47, 73);
}

.list {
    position: absolute;
    bottom: 40%;
    color: #fff;
    list-style: none;
    padding-left: 10px;
}

.logo {
    position: absolute;
    bottom: -5px;
    left: 0;
    font-size: 82rem !important;
}

.professor{
    position: absolute;
    bottom: 5px;
    right: 20px;
}

.logout {
    position: absolute;
    bottom: 0;
}

.icones {
    margin-right: 8px;
}

/*-------FIM MENU LATERAL-------*/

.dados{
    width: calc(100% - 200px);
    padding: 100px 40px 10px 40px;
    min-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.conteudo{
    width: 100%;
    background-color: rgba(206, 205, 205, 0.137);
    padding: 1rem 1rem 0 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.cards{
    width: 5%;
    line-height: 1%;
    text-align: center;
    padding: 1.4rem 0 1rem 0;
    float: left;
    margin: 1.5rem 1rem 0rem 0;
}

.cards:hover{
    cursor: pointer;
    background-color: rgba(56, 217, 228, 0.267);
}
.cards p{
    font-size: 1.2rem;
}

.turmas{
    width: 30%;
    text-align: center;
    padding: 1.4rem 0 1rem 0;
    float: left;
    margin: 1.5rem 1rem 0rem 0;
}

.turmas:hover{
    cursor: pointer;
    background-color: rgba(56, 217, 228, 0.267);
}
.turmas p{
    font-size: 1.2rem;
}

.grafico{
    width: 65%;
    position: absolute;
    top: 200px;
    right: 40px;
    background-color: #fff;
}

.grafico2{
    width: 65%;
    position: absolute;
    top: 450px;
    right: 40px;
    background-color: #fff;
}

.grafico3{
    background-color: #fff;
    margin-top: 2rem;
}
