<div class="dados">
  <p>Olá,</p>
  <h3>Prof. {{ login.login }}</h3>
  <p>Seja bem-vindo ao dashboard do Blocky Coding!
      <br> Aqui você terá acesso a todas as informações referente aos alunos e seus respectivos desempenhos no aplicativo de ensino interativo de lógica de programação.</p>

  <p>Para ter acesso aos gráficos de desempenho de suas turmas clique no link
      <i>Turmas</i> no menu lateral.
      <br> Nesta tela você poderá observar todas as turmas cadastradas em seu nome. Ao clicar na turma terá, acesso à dados gerais de todos os seus alunos, separados por turmas <br> e na tela de <i>Desempenho geral </i>você terá acesso à uma comparação do desempenho
      de cada turma.</p>

  <p>Agora se você quiser verificar os gráficos de um aluno especifico basta acessar o link
      <i>Alunos</i> e pesquisar pelo aluno desejado.
      <br>
      <br> A partir daqui basta analisar os gráficos demonstrados neste Software e ...</p>
      <br>
</div>